@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using(Html.BeginForm()) 
{
<div>
    <div class="row">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" data-extra-id="data-firstName" />
    </div>

    <div class="row">
        <label for="lastName">Last Name:</label>
        <input id="lastName" name="firstName" data-extra-id="data-lastName" />
    </div>

    <input type="submit" value="Submit" />
</div>
}