@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using(Html.BeginForm()) 
{
<div>
    <div class="row">
        <label for="firstName">First Name:</label>
        <input id="firstName" name="firstName" type="text" data-extra-id="data-firstName" rel="first-name" />
    </div>

    <div class="row">
        <label>Last Name:</label>
        <input id="lastName" name="firstName" type="text" data-extra-id="data-lastName" rel="last-name" />
    </div>

    <div id="relatedElementParent">
        <input type="text" value="child" />
    </div>

    <input type="submit" value="Submit" />
</div>
}